* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100%;
  margin: 0 auto;
}

body {
  background: #4d544c;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
}
.weather {

  background: #2a2828;
  width: 400px;
  height: 400px;
  padding: 30px;
}

.weather input {
    border-radius: 20px;
    margin-left: 10px;
    width: 260px;
    height: 30px;
    padding: 20px;
    

}
.weather button {
    border-radius: 20px;
    width: 60px;
    height: 42px; 
}

.weather h1{
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    margin-top: 30px;
}

.card img {
    margin-left: 150px;
}


.weather span{
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    font-size:30px;

}
.weather p{
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    font-size:30px;

}

